<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubik's Cube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1 class="title">Rubik's Cube</h1>
    <div class="button-container2">
        <button id="undoButton">Undo</button>
        <button id="redoButton">Redo</button>
    </div> 
    <div class="button-container3">
        <button id="mixButton">Mix Cube</button>
        <button id="executeButton">Execute Sequence</button>
        <button id="SetSolved">Set Solved</button>
    </div> 
    <input type="text" id="sequenceInput" maxlength="100" placeholder="Enter move sequence">
    <div id="hintContainer">
        <p id="hintText">Hint: I will show you hints to help you solve the cube. The buttons below help you do the complex moves. Read more under CubeSolvingHints.md </p>
    </div>
    <canvas id="cubeCanvas" width="400" height="400"></canvas>
    <div class="button-container2">
        <button id="RotateCornerLeft" title= "L' U2 L U" class="op-button">Rotate Corner Left</button>
        <button id="RotateCornerRight" title= "R U2 R' U'" class="op-button">Rotate Corner Right</button>
    </div> 
    <div class="button-container2">
        <button id="InsertCornerLeft" title= "L' U' L" class="op-button">Insert Corner Left</button>
        <button id="InsertCornerRight" title= "R U R'" class="op-button">Insert Corner Right</button>
    </div> 
    <div class="button-container2">
        <button id="AutoMoveLeft" title= "U' L' U L U F U' F''" class="op-button">Auto Move Left</button>
        <button id="AutoMoveRight" title= "U R U' R' U' F' U F" class="op-button">Auto Move Right</button>
    </div> 
    <div class="button-container3">
        <button id="LineToFish" title= "F R U R' U' F'" class="op-button">Line to fish</button>
        <button id="CornerToFish" title= "Fw R U R' U' Fw'" class="op-button">Corner to fish</button>
        <button id="FishToYellow" title= "R U R' U R U2 R'" class="op-button">Fish to yellow</button>
    </div> 
    <div class="button-container2">
        <button id="Rotate3Edges" title="R' U R' U' R' U' R' U R U R2" class="op-button">Rotate 3 edges</button>
        <button id="Rotate3Corners" title="R U' R D2 R' U R D2 R2" class="op-button">Rotate 3 corners</button>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
