<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubik's Cube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1 class="title">Rubik's Cube</h1>
    <p class="subtitle"><a href="https://github.com/aadimiro/Rubik/blob/main/rubiks-cube-app/doc/HowTo.md" target="_blank">Link to App How To</a></p>
    <div class="button-container2">
        <button id="undoButton">Undo</button>
        <button id="redoButton">Redo</button>
    </div> 
    <div class="button-container3">
        <button id="mixButton">Mix Cube</button>
        <button id="executeButton">Execute Sequence</button>
        <button id="SetSolved">Set Solved</button>
    </div> 
    <input type="text" id="sequenceInput" maxlength="100" placeholder="Enter move sequence">
    <div id="hintContainer">
        <p id="hintText">Hint: I will show you hints to help you solve the cube. The buttons below help you do the complex moves. Read more in the App How To</p>
    </div>
    <div class="button-container-rotate">
        <button id="RotateU"  class="op-button">U</button>
        <button id="RotateD"  class="op-button">D</button>
        <button id="RotateF"  class="op-button">F</button>
        <button id="RotateB"  class="op-button">B</button>
        <button id="RotateL"  class="op-button">L</button>     
        <button id="RotateR"  class="op-button">R</button>   
        <button id="RotateM"  class="op-button">M</button>
        <button id="RotateS"  class="op-button">S</button>
        <button id="RotateE"  class="op-button">E</button>
        <button id="Rotatex"  class="op-button">x</button>
        <button id="Rotatey"  class="op-button">y</button>
        <button id="Rotatez"  class="op-button">z</button>
        <button id="RotateUcc"  class="op-button">U'</button>
        <button id="RotateDcc"  class="op-button">D'</button>
        <button id="RotateFcc"  class="op-button">F'</button>
        <button id="RotateBcc"  class="op-button">B'</button>
        <button id="RotateLcc"  class="op-button">L'</button>
        <button id="RotateRcc"  class="op-button">R'</button>
        <button id="RotateMcc"  class="op-button">M'</button>
        <button id="RotateScc"  class="op-button">S'</button>
        <button id="RotateEcc"  class="op-button">E'</button>
        <button id="Rotatexcc"  class="op-button">x'</button>
        <button id="Rotateycc"  class="op-button">y'</button>
        <button id="Rotatezcc"  class="op-button">z'</button>
    </div> 

    <canvas id="cubeCanvas" width="400" height="400"></canvas>
    <div class="button-container2">
        <button id="RotateCornerLeft" title= "L' U2 L U" class="op-button">Rotate Corner Left</button>
        <button id="RotateCornerRight" title= "R U2 R' U'" class="op-button">Rotate Corner Right</button>
    </div> 
    <div class="button-container2">
        <button id="InsertCornerLeft" title= "L' U' L" class="op-button">Insert Corner Left</button>
        <button id="InsertCornerRight" title= "R U R'" class="op-button">Insert Corner Right</button>
    </div> 
    <div class="button-container2">
        <button id="AutoMoveLeft" title= "U' L' U L U F U' F''" class="op-button">Auto Move Left</button>
        <button id="AutoMoveRight" title= "U R U' R' U' F' U F" class="op-button">Auto Move Right</button>
    </div> 
    <div class="button-container3">
        <button id="LineToFish" title= "F R U R' U' F'" class="op-button">Line to fish</button>
        <button id="CornerToFish" title= "Fw R U R' U' Fw'" class="op-button">Corner to fish</button>
        <button id="FishToYellow" title= "R U R' U R U2 R'" class="op-button">Fish to yellow</button>
    </div> 
    <div class="button-container2">
        <button id="Rotate3Edges" title="R' U R' U' R' U' R' U R U R2" class="op-button">Rotate 3 edges</button>
        <button id="Rotate3Corners" title="R U' R D2 R' U R D2 R2" class="op-button">Rotate 3 corners</button>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
