<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubik's Cube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
</head>
<body>
    <h1 class="title">Rubik's Cube</h1>
    <div class="button-container">
        <button id="mixButton">Mix Cube</button>
        <button id="executeButton">Execute Sequence</button>
        <button id="SetSolved">Set Solved</button>
    </div> 
    <input type="text" id="sequenceInput" maxlength="100" placeholder="Enter move sequence">
    <canvas id="cubeCanvas" width="400" height="400"></canvas>
    <div class="button-container">
        <button id="LineToFish" class="op-button">Line to fish</button>
        <button id="CornerToFish" class="op-button">Corner to fish</button>
        <button id="FishToYellow" class="op-button">Fish to yellow</button>
        <button class="op-button">Op. 4</button>
        <button class="op-button">Op. 5</button>
        <button class="op-button">Op. 6</button>
        <button class="op-button">Op. 7</button>
        <button class="op-button">Op. 8</button>
        <button class="op-button">Op. 9</button>
        <button class="op-button">Op. 10</button>
        <button class="op-button">Op. 11</button>
        <button class="op-button">Op. 12</button>
        <button class="op-button">Op. 13</button>
        <button class="op-button">Op. 14</button>
        <button class="op-button">Op. 15</button>
    </div>
    <script src="{{ url_for('static', filename='js/cube.js') }}"></script>
</body>
</html>
