body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    background-color: white;
}

#cubeCanvas {
    width: 350px;
    height: 350px;
    border: 1px solid #000000;
    margin-top: 10px;
}

.parent-container {
    position: relative;
    overflow: visible;
}

.title {
    text-align: center;
    margin-top: 10px;
    font-size: 2em;
}

.subtitle {
    text-align: center;
    font-size: 0.8em;
    margin-top: 5px;
}

#sequenceInput {
    width: 350px; /* Set the width of the text field */
    padding: 10px; /* Add some padding for better appearance */
    margin: 10px 0; /* Add some margin for spacing */
    font-size: 0.7em; /* Adjust the font size */
}

.button-container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.button-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-top: 10px;
}
.button-container-rotate {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2px;
    margin-top: 5px;
}

#hintText {
    margin: 10px; /* Add margin for spacing */
    font-size: 0.9em; /* Make the text a little smaller */
    color: #000000;
    background-color: rgb(153, 153, 153);
    height: 5em; /* Set height to 5 lines */
    width: 350px; /* Set width to 400px */
    overflow-wrap: break-word; /* Break long words */
    white-space: pre-wrap; /* Preserve whitespace and wrap text */
    overflow: hidden; /* Hide overflow */
    padding: 10px; /* Add padding to the border */
}

/* Media query for smartphones */
@media (max-width: 350px) {
    body {
        justify-content: flex-start;
        padding: 10px;
    }

    #cubeCanvas {
        width: 90vw;
        height: 90vw;
        margin-top: 10px;
    }

    .title {
        font-size: 1.5em;
    }
}